html{.container{
    border: 5px double red;
    width:80%;
    color: white;
    padding: 20px 50px;
    margin: 20px auto;
    font-size:10px;
    border-radius: 10px 0px 10px 0px;
    background-image: url("../car.jpg");
    background-size: cover;
    background-repeat: no repeat;

}

.red{
    background-color: red;
    width: 200px;
    height:100px;
    color:white;
    display:block;
}

}